* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header .link {
  padding: 0 1rem;
  color: #095394;
}

.link-border {
  border-right: 0.15rem solid #095394;
}