* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}

.quote-box {
  width: 50%;
}

.calc {
  width: fit-content;
  background-color: #cdcdcd;
}

.output {
  background-color: #858694;
  padding: 0.5rem;
  height: 2.5rem;
  text-align: right;
  color: white;
}

.key {
  padding: 0.8rem;
  width: 4rem;
  border: none;
  cursor: pointer;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
}

.grey-key {
  background-color: #e0e0e0;
}

.orange-key {
  background-color: #f5913e;
}

.zero {
  grid-column: span 2;
  width: auto;
}
