* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
  font-family:'Courier New', Courier, monospace;
}

main {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header .link {
  padding: 0 1rem;
  color: #095394;
}

.link-border {
  border-right: 0.15rem solid #095394;
}