    .key {
    padding: 1rem;
    width: 9rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .key:hover {
    background-color: #d9d9d9;
    color: #333333;
  }

  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.1rem;
  }

  .grey-key {
    background-color: #e0e0e0;
  }
  
  .orange-key {
    background-color: #f5913e;
  }
  
  .zero {
    grid-column: span 2;
    width: auto;
  }
  