.quote-box {
    background-color: #fffff0;
    color: #333333;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 50vh;
    width: fit-content;
    margin: 3rem auto;
  }
  
  .author {
    color: #808080;
    font-style: italic;
  }